.daily-news-container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.daily-news-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-card {
  background-color: #ffffff;
  border-left: 4px solid #de3c13;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.news-date {
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
}

.news-heading {
  font-size: 18px;
  font-weight: 600;
  margin: 0.3rem 0;
}

.news-description {
  font-size: 14px;
  color: #444;
}

.news-card:hover{
  transform: translate3d(0,-2px, 0);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: rgb(209, 207, 207);
  border-left-color: #8b1f04;
}

