.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #b6b5b5, #ef0909);
  font-family: "Segoe UI", sans-serif;
}

.loginBox {
  background-color: rgb(213, 176, 176);
  padding: 2rem ;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputGroup label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.inputGroup input {
  padding: 0.75rem;
  border: 1px solid #6d6d6d;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.inputGroup input:focus {
  border-color: #ea6666;
  outline: none;
}

.loginButton {
  width: 100%;
  background-color: #1f2937;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #050912;
}

.helperText {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.helperText a {
  color: #667eea;
  text-decoration: none;
}

.helperText a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .loginBox {
    width: 90%;
    padding: 1.7rem;
  }

  

}
